direct-file/backend/src/main/resources/tax/FactDictionaryModule.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <ref name="FactDictionaryModuleContent" />
  </start>
  <define name="FactDictionaryModuleContent">
    <element name="FactDictionaryModule">
      <ref name="FactsContent" />
    </element>
  </define>
  <define name="FactsContent">
    <element name="Facts">
      <oneOrMore>
        <ref name="FactContent" />
      </oneOrMore>
    </element>
  </define>
  <define name="FactContent">
    <element name="Fact">
      <optional>
        <ref name="NameContent" />
      </optional>
      <optional>
        <ref name="DescriptionContent" />
      </optional>
      <optional>
        <ref name="ExportContent" />
      </optional>
      <optional>
        <ref name="ExportZeroContent" />
      </optional>
      <optional>
        <ref name="BlockSubmissionOnTrueContent" />
      </optional>
      <optional>
        <ref name="TaxYearContent" />
      </optional>
      <choice>
        <group>
          <ref name="DerivedContent" />
          <optional>
            <ref name="PlaceholderContent" />
          </optional>
        </group>
        <group>
          <ref name="WritableContent" />
          <optional>
            <ref name="PlaceholderContent" />
          </optional>
        </group>
        <ref name="PlaceholderContent" />
      </choice>
      <attribute name="path">
        <data type="token"></data>
      </attribute>
      <optional>
        <attribute name="testOnly">
          <choice>
            <value>true</value>
            <value>false</value>
          </choice>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="NameContent">
    <element name="Name">
      <text />
    </element>
  </define>
  <define name="DescriptionContent">
    <element name="Description">
      <text />
    </element>
  </define>
  <define name="ExportContent">
    <element name="Export">
      <text />
      <oneOrMore>
        <choice>
          <attribute name="downstreamFacts">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </attribute>
          <attribute name="mef">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </attribute>
          <attribute name="stateSystems">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </attribute>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="ExportZeroContent">
    <element name="ExportZero">
      <empty />
    </element>
  </define>
  <define name="BlockSubmissionOnTrueContent">
    <element name="BlockSubmissionOnTrue">
      <empty />
    </element>
  </define>
  <define name="TaxYearContent">
    <element name="TaxYear">
      <text />
    </element>
  </define>
  <define name="NumericContent">
    <optional>
      <ref name="AddContent" />
    </optional>
    <optional>
      <ref name="CollectionSumContent" />
    </optional>
    <optional>
      <ref name="IntContent" />
    </optional>
    <optional>
      <ref name="DaysContent" />
    </optional>
    <optional>
      <ref name="DollarContent" />
    </optional>
    <optional>
      <ref name="SubtractContent" />
    </optional>
    <optional>
      <ref name="MultiplyContent" />
    </optional>
    <optional>
      <ref name="DivideContent" />
    </optional>
    <optional>
      <ref name="RoundContent" />
    </optional>
    <optional>
      <ref name="RoundToIntContent" />
    </optional>
    <optional>
      <ref name="TruncateCentsContent" />
    </optional>
    <optional>
      <ref name="RationalContent" />
    </optional>
    <optional>
      <ref name="StepwiseMultiplyContent" />
    </optional>
    <optional>
      <ref name="MinimumContent" />
    </optional>
    <optional>
      <ref name="MaximumContent" />
    </optional>
    <optional>
      <ref name="CollectionSizeContent" />
    </optional>
    <optional>
      <ref name="CountContent" />
    </optional>
  </define>
  <define name="LogicalContent">
    <optional>
      <ref name="IsCompleteContent" />
    </optional>
    <optional>
      <ref name="AnyContent" />
    </optional>
    <optional>
      <ref name="EqualContent" />
    </optional>
    <optional>
      <ref name="NotEqualContent" />
    </optional>
    <optional>
      <ref name="AllContent" />
    </optional>
    <optional>
      <ref name="SwitchContent" />
    </optional>
    <optional>
      <ref name="GreaterOfContent" />
    </optional>
    <optional>
      <ref name="GreaterThanContent" />
    </optional>
    <optional>
      <ref name="GreaterThanOrEqualContent" />
    </optional>
    <optional>
      <ref name="LesserOfContent" />
    </optional>
    <optional>
      <ref name="LessThanContent" />
    </optional>
    <optional>
      <ref name="LessThanOrEqualContent" />
    </optional>
    <optional>
      <ref name="EnumOptionsContainsContent" />
    </optional>
    <optional>
      <ref name="NotContent"></ref>
    </optional>
  </define>
  <define name="CalculationContent">
    <optional>
      <ref name="FalseContent" />
    </optional>
    <optional>
      <ref name="TrueContent" />
    </optional>
    <optional>
      <ref name="TodayContent" />
    </optional>
    <optional>
      <ref name="EnumOptionsContent" />
    </optional>
    <optional>
      <ref name="IntContent" />
    </optional>
    <optional>
      <ref name="DaysContent" />
    </optional>
    <optional>
      <ref name="AnyContent" />
    </optional>
    <optional>
      <ref name="EqualContent" />
    </optional>
    <optional>
      <ref name="AllContent" />
    </optional>
    <optional>
      <ref name="SwitchContent" />
    </optional>
    <optional>
      <ref name="CollectionSumContent" />
    </optional>
    <optional>
      <ref name="AddContent" />
    </optional>
    <optional>
      <ref name="BankAccountContent" />
    </optional>
    <optional>
      <ref name="DollarContent" />
    </optional>
    <optional>
      <ref name="SubtractContent" />
    </optional>
    <optional>
      <ref name="GreaterOfContent" />
    </optional>
    <optional>
      <ref name="MultiplyContent" />
    </optional>
    <optional>
      <ref name="RoundContent" />
    </optional>
    <optional>
      <ref name="RoundToIntContent" />
    </optional>
    <optional>
      <ref name="TruncateCentsContent" />
    </optional>
    <optional>
      <ref name="GreaterThanContent" />
    </optional>
    <optional>
      <ref name="DependencyContent" />
    </optional>
    <optional>
      <ref name="CountContent" />
    </optional>
    <optional>
      <ref name="StepwiseMultiplyContent" />
    </optional>
    <optional>
      <ref name="LesserOfContent" />
    </optional>
    <optional>
      <ref name="LessThanContent" />
    </optional>
    <optional>
      <ref name="LessThanOrEqualContent" />
    </optional>
    <optional>
      <ref name="EnumOptionsContainsContent" />
    </optional>
    <optional>
      <ref name="PasteContent" />
    </optional>
    <optional>
      <ref name="GreaterThanOrEqualContent" />
    </optional>
    <optional>
      <ref name="NotContent" />
    </optional>
    <optional>
      <ref name="FindContent" />
    </optional>
    <optional>
      <ref name="IsCompleteContent" />
    </optional>
    <optional>
      <ref name="MinimumContent" />
    </optional>
    <optional>
      <ref name="MaximumContent" />
    </optional>
    <optional>
      <ref name="NotEqualContent" />
    </optional>
    <optional>
      <ref name="EnumContent" />
    </optional>
    <optional>
      <ref name="StringContent" />
    </optional>
    <optional>
      <ref name="FilterContent" />
    </optional>
    <optional>
      <ref name="IndexOfContent" />
    </optional>
    <optional>
      <ref name="CollectionSizeContent" />
    </optional>
    <optional>
      <ref name="EnumOptionsSizeContent" />
    </optional>
    <optional>
      <ref name="MaximumContent" />
    </optional>
    <optional>
      <ref name="DivideContent" />
    </optional>
    <optional>
      <ref name="RationalContent" />
    </optional>
    <optional>
      <ref name="DayContent" />
    </optional>
    <optional>
      <ref name="FirstNCollectionItemsContent" />
    </optional>
    <optional>
      <ref name="LengthContent" />
    </optional>
    <optional>
      <ref name="StringOperationsContent" />
    </optional>
    <optional>
      <ref name="EinContent" />
    </optional>
  </define>
  <define name="DerivedContent">
    <element name="Derived">
      <ref name="CalculationContent" />
    </element>
  </define>
  <define name="EnumOptionsContent">
    <element name="EnumOptions">
      <oneOrMore>
        <optional>
          <ref name="EnumOptionContent" />
        </optional>
        <optional>
          <ref name="StringContent" />
        </optional>
      </oneOrMore>
    </element>
  </define>
  <define name="EnumOptionContent">
    <element name="EnumOption">
      <ref name="ConditionContent" />
      <ref name="ValueContent" />
    </element>
  </define>
  <define name="ConditionContent">
    <element name="Condition">
      <choice>
        <ref name="DependencyContent" />
        <ref name="LogicalContent" />
        <ref name="TrueContent" />
        <ref name="FalseContent" />
      </choice>
    </element>
  </define>
  <define name="DependencyContent">
    <element name="Dependency">
      <attribute name="path">
        <data type="token"></data>
      </attribute>
      <optional>
        <attribute name="module" />
      </optional>
    </element>
  </define>
  <define name="NotContent">
    <element name="Not">
      <choice>
        <ref name="DependencyContent" />
        <ref name="LogicalContent" />
      </choice>
    </element>
  </define>

  <define name="ValueContent">
    <element name="Value">
      <ref name="StringContent" />
    </element>
  </define>

  <define name="StringContent">
    <element name="String">
      <text />
    </element>
  </define>

  <define name="TinContent">
    <element name="TIN">
      <optional>
        <attribute name="allowAllZeros">
          <choice>
            <value>true</value>
            <value>false</value>
          </choice>
        </attribute>
      </optional>
      <empty />
    </element>
  </define>

  <define name="EinContent">
    <element name="EIN">
      <optional>
        <text />
      </optional>
    </element>
  </define>


  <define name="IntContent">
    <element name="Int">
      <text />
    </element>
  </define>

  <define name="DaysContent">
    <element name="Days">
      <text />
    </element>
  </define>
  <define name="AnyContent">
    <element name="Any">
      <oneOrMore>
        <optional>
          <ref name="DependencyContent" />
        </optional>
        <optional>
          <ref name="LogicalContent" />
        </optional>
      </oneOrMore>
    </element>
  </define>

  <define name="MultiEnumContent">
    <element name="MultiEnum">
      <attribute name="optionsPath" />
    </element>
  </define>

  <define name="OptionsContent">
    <element name="Options">
      <ref name="DependencyContent" />
    </element>
  </define>
  <define name="EnumValueContent">
    <element name="Value">
      <ref name="EnumContent" />
    </element>
  </define>
  <define name="EqualContent">
    <element name="Equal">
      <ref name="LeftContent" />
      <ref name="RightContent" />
    </element>
  </define>
  <define name="LeftContent">
    <element name="Left">
      <oneOrMore>
        <ref name="CalculationContent" />
      </oneOrMore>
    </element>
  </define>
  <define name="RightContent">
    <element name="Right">
      <ref name="CalculationContent" />
    </element>
  </define>
  <define name="EnumContent">
    <element name="Enum">
      <text />
      <attribute name="optionsPath" />
    </element>
  </define>
  <define name="AllContent">
    <element name="All">
      <oneOrMore>
        <optional>
          <ref name="CalculationContent" />
        </optional>
        <optional>
          <ref name="DependencyContent" />
        </optional>
      </oneOrMore>
    </element>

  </define>
  <define name="LessThanContent">
    <element name="LessThan">
      <ref name="LeftContent" />
      <ref name="RightContent" />
    </element>
  </define>
  <define name="GreaterThanContent">
    <element name="GreaterThan">
      <ref name="LeftContent" />
      <ref name="RightContent" />
    </element>
  </define>
  <define name="CountContent">
    <element name="Count">
      <choice>
        <ref name="DependencyContent" />
        <ref name="LogicalContent" />
        <ref name="IntContent" />
      </choice>
    </element>
  </define>
  <define name="NotEqualContent">
    <element name="NotEqual">
      <ref name="LeftContent" />
      <ref name="RightContent" />
    </element>
  </define>

  <define name="GreaterThanOrEqualContent">
    <element name="GreaterThanOrEqual">
      <ref name="LeftContent" />
      <ref name="RightContent" />
    </element>
  </define>
  <define name="LessThanOrEqualContent">
    <element name="LessThanOrEqual">
      <ref name="LeftContent" />
      <ref name="RightContent" />
    </element>
  </define>
  <define name="EnumOptionsContainsContent">
    <element name="EnumOptionsContains">
      <ref name="OptionsContent" />
      <ref name="EnumValueContent" />
    </element>
  </define>
  <define name="SwitchContent">
    <element name="Switch">
      <oneOrMore>
        <ref name="CaseContent" />
      </oneOrMore>
    </element>
  </define>
  <define name="CaseContent">
    <element name="Case">
      <ref name="WhenContent" />
      <ref name="ThenContent" />
    </element>
  </define>
  <define name="WhenContent">
    <element name="When">
      <choice>
        <optional>
          <ref name="DependencyContent" />
        </optional>
        <optional>
          <ref name="LogicalContent" />
        </optional>
        <optional>
          <ref name="TrueContent" />
        </optional>
      </choice>
    </element>
  </define>
  <define name="ThenContent">
    <element name="Then">
      <optional>
        <ref name="CalculationContent" />
      </optional>
    </element>
  </define>
  <define name="BankAccountContent">
    <element name="BankAccount">
      <optional>
        <element name="AccountType">
          <data type="string" />
        </element>
        <element name="RoutingNumber">
          <data type="string" />
        </element>
        <element name="AccountNumber">
          <data type="string" />
        </element>
      </optional>
    </element>
  </define>
  <define name="DollarContent">
    <element name="Dollar">
      <optional>
        <data type="decimal" />
      </optional>
    </element>
  </define>
  <define name="LesserOfContent">
    <element name="LesserOf">
      <oneOrMore>
        <optional>
          <ref name="DependencyContent" />
        </optional>
        <optional>
          <ref name="NumericContent" />
        </optional>
        <optional>
          <ref name="SwitchContent" />
        </optional>
      </oneOrMore>
    </element>
  </define>
  <define name="SubtractContent">
    <element name="Subtract">
      <ref name="MinuendContent" />
      <ref name="SubtrahendsContent" />
    </element>
  </define>
  <define name="MinuendContent">
    <element name="Minuend">
      <choice>
        <ref name="NumericContent" />
        <ref name="DependencyContent" />
        <ref name="LogicalContent" />
      </choice>
    </element>
  </define>
  <define name="SubtrahendsContent">
    <element name="Subtrahends">
      <oneOrMore>
        <optional>
          <ref name="NumericContent" />
        </optional>
        <optional>
          <ref name="DependencyContent" />
        </optional>
      </oneOrMore>
    </element>
  </define>
  <define name="CollectionSumContent">
    <element name="CollectionSum">
      <choice>
        <ref name="DependencyContent" />
        <ref name="NumericContent" />
      </choice>
    </element>
  </define>
  <define name="AddContent">
    <element name="Add">
      <oneOrMore>
        <optional>
          <ref name="DependencyContent" />
        </optional>
        <optional>
          <ref name="NumericContent" />
        </optional>
        <optional>
          <ref name="CountContent" />
        </optional>
        <optional>
          <ref name="LogicalContent" />
        </optional>
      </oneOrMore>

    </element>
  </define>
  <define name="AsDecimalStringContent">
    <element name="AsDecimalString">
      <optional>
        <attribute name="scale" />
      </optional>
      <choice>
        <ref name="RationalContent" />
        <ref name="DependencyContent" />
      </choice>
    </element>
  </define>
  <define name="GreaterOfContent">
    <element name="GreaterOf">
      <oneOrMore>
        <ref name="NumericContent" />
        <optional>
          <ref name="DependencyContent" />
        </optional>
        <optional>
          <ref name="LogicalContent" />
        </optional>
      </oneOrMore>
    </element>
  </define>
  <!-- String operations -->
  <define name="ToUpperContent">
    <element name="ToUpper">
      <choice>
        <ref name="DependencyContent" />
        <ref name="StringOperationsContent" />
      </choice>
    </element>
  </define>
  <define name="TrimContent">
    <element name="Trim">
      <choice>
        <ref name="DependencyContent" />
        <ref name="StringOperationsContent" />
      </choice>
    </element>
  </define>
  <define name="AsStringContent">
    <element name="AsString">
      <ref name="DependencyContent" />
    </element>
  </define>
  <define name="StripCharsContent">
    <element name="StripChars">
      <element name="Input">
        <choice>
          <ref name="DependencyContent" />
          <ref name="StringOperationsContent" />
        </choice>
      </element>
      <element name="Allow">
        <choice>
          <ref name="DependencyContent" />
          <ref name="StringContent" />
        </choice>
      </element>
    </element>
  </define>
  <define name="TruncateNameForMeFContent">
    <element name="TruncateNameForMeF">
      <element name="FirstName">
        <ref name="DependencyContent" />
      </element>
      <element name="MiddleInitial">
        <ref name="DependencyContent" />
      </element>
      <element name="LastName">
        <ref name="DependencyContent" />
      </element>
      <element name="Suffix">
        <ref name="DependencyContent" />
      </element>
    </element>
  </define>
  <define name="StringOperationsContent">
    <oneOrMore>
      <optional>
        <ref name="ToUpperContent" />
      </optional>
      <optional>
        <ref name="TrimContent" />
      </optional>
      <optional>
        <ref name="AsStringContent" />
      </optional>
      <optional>
        <ref name="StringContent" />
      </optional>
      <optional>
        <ref name="StripCharsContent" />
      </optional>
      <optional>
        <ref name="PasteContent" />
      </optional>
      <optional>
        <ref name="TruncateNameForMeFContent" />
      </optional>
      <optional>
        <ref name="AsDecimalStringContent" />
      </optional>
    </oneOrMore>
  </define>

  <!-- Other CompNodes -->
  <define name="LengthContent">
    <element name="Length">
      <choice>
        <ref name="DependencyContent" />
        <ref name="StringOperationsContent" />
      </choice>
    </element>
  </define>
  <define name="MultiplyContent">
    <element name="Multiply">
      <oneOrMore>
        <optional>
          <ref name="DependencyContent" />
        </optional>
        <optional>
          <ref name="NumericContent" />
        </optional>
        <optional>
          <ref name="LogicalContent" />
        </optional>
      </oneOrMore>
    </element>
  </define>
  <define name="MaximumContent">
    <element name="Maximum">
      <oneOrMore>
        <optional>
          <ref name="NumericContent" />
        </optional>
        <optional>
          <ref name="DollarContent" />
        </optional>
        <optional>
          <ref name="DependencyContent" />
        </optional>
      </oneOrMore>
    </element>
  </define>
  <define name="RationalContent">
    <element name="Rational">
      <data type="token">
        <param name="pattern">[0-9]+/?[0-9]+</param>
      </data>

    </element>
  </define>
  <define name="RoundContent">
    <element name="Round">
      <choice>
        <ref name="NumericContent" />
        <ref name="SwitchContent" />
        <ref name="LogicalContent" />
        <ref name="DependencyContent" />
      </choice>
    </element>
  </define>
  <define name="RoundToIntContent">
    <element name="RoundToInt">
      <choice>
        <ref name="NumericContent" />
        <ref name="SwitchContent" />
        <ref name="LogicalContent" />
        <ref name="DependencyContent" />
      </choice>
    </element>
  </define>
  <define name="TruncateCentsContent">
    <element name="TruncateCents">
      <choice>
        <ref name="NumericContent" />
        <ref name="SwitchContent" />
        <ref name="LogicalContent" />
        <ref name="DependencyContent" />
      </choice>
    </element>
  </define>
  <define name="StepwiseMultiplyContent">
    <element name="StepwiseMultiply">
      <ref name="MultiplicandContent" />
      <ref name="RateContent" />
    </element>
  </define>
  <define name="MultiplicandContent">
    <element name="Multiplicand">
      <optional>
        <ref name="NumericContent" />
      </optional>
      <optional>
        <ref name="DependencyContent" />
      </optional>
    </element>
  </define>

  <define name="RateContent">
    <element name="Rate">
      <ref name="RationalContent" />
    </element>
  </define>
  <define name="PasteContent">
    <element name="Paste">
      <optional>
        <attribute name="sep" />
      </optional>
      <oneOrMore>
        <ref name="DependencyContent" />
      </oneOrMore>
    </element>
  </define>
  <define name="FindContent">
    <element name="Find">
      <ref name="DependencyContent" />
      <attribute name="path" />
    </element>
  </define>
  <define name="IsCompleteContent">
    <element name="IsComplete">
      <optional>
        <ref name="DependencyContent" />
      </optional>
      <optional>
        <ref name="FindContent" />
      </optional>
    </element>
  </define>
  <define name="MinimumContent">
    <element name="Minimum">
      <ref name="DependencyContent" />
      <ref name="NumericContent" />
    </element>
  </define>
  <define name="PlaceholderContent">
    <element name="Placeholder">
      <optional>
        <ref name="LogicalContent" />
      </optional>
      <optional>
        <ref name="FalseContent" />
      </optional>

      <optional>
        <ref name="TrueContent" />
      </optional>
      <optional>
        <ref name="DependencyContent" />
      </optional>
      <optional>
        <ref name="DollarContent" />
      </optional>
    </element>
  </define>
  <define name="FalseContent">
    <element name="False">
      <empty />
    </element>
  </define>

  <define name="TrueContent">
    <element name="True">
      <empty />
    </element>
  </define>
  <define name="TodayContent">
    <element name="Today">

      <ref name="DependencyContent" />
    </element>
  </define>
  <define name="WritableContent">
    <element name="Writable">
      <interleave>
        <choice>
          <ref name="AddressContent" />
          <ref name="PINContent" />
          <ref name="IPPINContent" />
          <ref name="PhoneNumberContent" />
          <ref name="EmailAddressContent" />
          <ref name="EnumContent" />
          <ref name="BooleanContent" />
          <ref name="BankAccountContent" />
          <ref name="DollarContent" />
          <ref name="CollectionContent" />
          <ref name="StringContent" />
          <ref name="DayContent" />
          <ref name="CollectionItemContent" />
          <ref name="TinContent" />
          <ref name="EinContent" />
          <ref name="IntContent" />
          <ref name="MultiEnumContent" />
        </choice>
        <optional>
          <oneOrMore>
            <ref name="LimitContent" />
          </oneOrMore>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="AddressContent">
    <element name="Address">
      <empty />
    </element>
  </define>
  <define name="PINContent">
    <element name="PIN">
      <empty />
    </element>
  </define>
  <define name="IPPINContent">
    <element name="IPPIN">
      <empty />
    </element>
  </define>
  <define name="PhoneNumberContent">
    <element name="PhoneNumber">
      <empty />
    </element>
  </define>
  <define name="EmailAddressContent">
    <element name="EmailAddress">
      <empty />
    </element>
  </define>
  <define name="BooleanContent">
    <element name="Boolean">
      <empty />
    </element>
  </define>
  <define name="CollectionContent">
    <element name="Collection">
      <optional>
        <choice>
          <ref name="DependencyContent" />
          <ref name="FilterContent" />
        </choice>
      </optional>
    </element>
  </define>
  <define name="LimitContent">
    <element name="Limit">
      <choice>
        <ref name="IntContent" />
        <ref name="DollarContent" />
        <ref name="StringContent" />
        <ref name="DayContent" />
      </choice>
      <attribute name="type" />
    </element>
  </define>
  <define name="DayContent">
    <element name="Day">
      <text />
    </element>
  </define>
  <define name="CollectionItemContent">
    <element name="CollectionItem">
      <attribute name="collection" />
    </element>
  </define>
  <define name="FilterContent">
    <element name="Filter">
      <attribute name="path" />
      <optional>
        <ref name="DependencyContent" />
      </optional>
      <optional>
        <ref name="LogicalContent" />
      </optional>
    </element>
  </define>
  <define name="IndexOfContent">
    <element name="IndexOf">
      <ref name="CollectionContent" />
      <ref name="IndexContent" />
    </element>
  </define>
  <define name="IndexContent">
    <element name="Index">
      <ref name="IntContent" />
    </element>
  </define>
  <define name="CollectionSizeContent">
    <element name="CollectionSize">
      <choice>
        <ref name="DependencyContent" />
        <ref name="FilterContent" />
      </choice>
    </element>
  </define>
  <define name="FirstNCollectionItemsContent">
    <element name="FirstNCollectionItems">
      <ref name="CollectionContent" />
      <ref name="CountContent" />
    </element>
  </define>
  <define name="EnumOptionsSizeContent">
    <element name="EnumOptionsSize">
      <ref name="DependencyContent" />
    </element>
  </define>
  <define name="DivideContent">
    <element name="Divide">
      <ref name="DividendContent" />
      <ref name="DivisorContent" />
    </element>
  </define>
  <define name="DividendContent">
    <element name="Dividend">
      <oneOrMore>
        <optional>
          <ref name="DependencyContent" />
        </optional>
        <optional>
          <ref name="NumericContent" />
        </optional>
        <optional>
          <ref name="LogicalContent" />
        </optional>
      </oneOrMore>
    </element>
  </define>
  <define name="DivisorContent">
    <element name="Divisors">
      <oneOrMore>
        <optional>
          <ref name="DependencyContent" />
        </optional>
        <optional>
          <ref name="NumericContent" />
        </optional>
        <optional>
          <ref name="LogicalContent" />
        </optional>
      </oneOrMore>
    </element>
  </define>

</grammar>
